+++
title = "OpenCue"
linkTitle = "OpenCue"

+++

{{< blocks/cover title="OpenCue" image_anchor="top" height="max">}}
<div class="mx-auto">
	<p class="lead">Open source render management</p>
	<a class="btn btn-lg btn-primary mr-3 ml-3 mt-3 mb-5" href="/docs/getting-started/">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-1"></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mt-3 ml-3 mb-5" href="https://github.com/AcademySoftwareFoundation/OpenCue">
		Contribute <i class="fab fa-github ml-1"></i>
	</a>
	<div class="w-75 mx-auto embed-responsive embed-responsive-16by9 mb-3">
		<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/v4i83ccrz5w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}

<div class="banner">
	<div class="banner-image">
		<img src="images/opencue-robots.jpg" alt="Robots posing with speakers and OpenCue logo">
	</div>
	<div class="banner-text">
		<h1>High-scale rendering</h1>
		<p>OpenCue provides features to manage rendering jobs at high-scale</p>
	</div>
</div>

{{< blocks/lead color="dark" >}}
<h1>What is OpenCue?</h1>
<p>OpenCue is an open source render management system. You can use OpenCue
	in visual effects and animation production to break down complex jobs
	into individual tasks. You can submit jobs to a configurable dispatch
	queue that allocates the necessary computational resources.</p>
{{% /blocks/lead %}}


{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-film" title="Built for visual effects and animation"%}}
Sony Imageworks in-house render manager used on hundreds of films.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-server" title="Render at scale"%}}
Highly-scalable architecture supporting numerous concurrent machines.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-cloud-upload-alt" title="Flexible deployment" url="/docs/concepts/opencue-overview/"%}}
Support for multi facility, on-premise, cloud, and hybrid deployments.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-rss" title="Stay up to date" url="/blog/"%}}
Subscribe to our RSS feed to stay up to date with release notes and blog posts.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-comments" title="Join the community!" %}}
Join the OpenCue [discussion forum](https://lists.aswf.io/g/opencue-user) for users and admins.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/CONTRIBUTING.md" %}}
Want to contribute to OpenCue? New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}
