/*

Add styles or override variables from the theme here.

*/

// Theme colors

$primary: #fff;
$secondary: #000;

// Nav colors

$white: #fff;
$black: #000;
$navbar-dark-color: rgba($black, 0.75);
$navbar-dark-hover-color: rgba($black, 0.5);
$navbar-dark-active-color: $black;
$navbar-dark-disabled-color: rgba($black, 0.25);
