+++
title = "OpenCue"
linkTitle = "OpenCue"

+++

{{< blocks/cover title="OpenCue" image_anchor="top" height="max">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/imageworks/OpenCue">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
An open source render management system

{{% /blocks/lead %}}

{{< blocks/lead color="secondary" >}}
<h1>What is OpenCue?</h1>
<p>OpenCue is an open source render management system. You can use
OpenCue in visual effects and animation production to break down
complex jobs into individual tasks.</p>
{{% /blocks/lead %}}
{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-film" title="Built for visual effects and animation"%}}
Sony Imageworks in-house render manager used on hundreds of films.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-server" title="Render at scale"%}}
Highly-scalable architecture supporting numerous concurrent machines.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-cloud-upload-alt" title="Flexible deployment" url="/docs/concepts/opencue-overview/"%}}
Support for multi facility, on-premise, cloud, and hybrid deployments.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-rss" title="Stay up to date" url="/blog/"%}}
Subscribe to our RSS feed to stay up to date with release notes and blog posts.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-comments" title="Join the community!" %}}
Join the OpenCue [discussion forum](https://groups.google.com/forum/#!forum/opencue-users) for users and admins.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/imageworks/OpenCue/blob/master/CONTRIBUTING.md" %}}
Want to contribute to OpenCue? New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}

