+++
title = "OpenCue"
linkTitle = "OpenCue"

+++

{{< blocks/cover title="OpenCue" image_anchor="top" height="max" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/imageworks/OpenCue">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
An open source render management system

{{% /blocks/lead %}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="none" title="Manage rendering jobs at scale" url="/docs/concepts/opencue-overview/"%}}
Sony Imageworks in-house render manager used on hundreds of films.
{{% /blocks/feature %}}


{{% blocks/feature icon="none" title="Contributions welcome!" url="https://github.com/imageworks/OpenCue/blob/master/CONTRIBUTING.md" %}}
Want to contribute to OpenCue? New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="none" title="Join the community!" %}}
Join the OpenCue [discussion forum](https://groups.google.com/forum/#!forum/opencue-users) for users and admins.
{{% /blocks/feature %}}


{{< /blocks/section >}}

